{% extends "base.html" %}

{% block content %}
    <h1>Detail</h1>
    <h3>{{ article.pk }}번째 글</h3>
    <p>제목: {{ article.title }}</p>
    {% if article.image %}
        <img src="{{ article.image.url}}" alt="img">
    {% endif %}
    <p>내용: {{ article.content }}</p>
    <p>작성일: {{ article.created_at }}</p>
    <p>수정일: {{ article.updated_at }}</p>
    <hr>
    <a href="{% url "articles:update" article.pk %}">[EDIT]</a>
    <form action="{% url "articles:delete" article.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE">
    </form>
    <hr>
    <form action=" {% url "articles:comments_create" article.pk%}" method="POST">
        {% csrf_token %}
        {{ comment_form}}
        <input type="submit">
    </form>
    <a href="{% url "articles:index" %}">[BACK]</a>
{% endblock content %}