{% extends "base.html" %}
{% load static %}

{% block content %}
  <a href=" {% url "accounts:login" %}">Login</a>
  <form action=" {% url "accounts:logout" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="로그아웃">
  </form>
  <a href="{% url "accounts:signup" %}">[회원가입]</a>
  <h1>Hello, {{ user.username }}!</h1>
  {% comment %} 
  {% url "app_name:name" %}
  {% endcomment %}
  <a href=" {% url "articles:dinner" %}">dinner</a>
  <a href="{% url "articles:search" %}">search</a>
  <a href="{% url "articles:throw" %}">throw</a>
  <a href="{% url "articles:create" %}">
    <p>[NEW]</p>
  </a>
  <hr>
  <img src="{% static "sample_01.jpg" %}" alt="img">
  <img src="{% static "sample_02.jpg" %}" alt="img">
  {% for article in articles %}
    <p>글 번호: {{ article.pk }}</p>
    <a href="{% url "articles:detail" article.pk%}">
      <p>글 제목: {{article.title }}</p>
    </a>
    <p>글 내용: {{ article.content }}</p>
    <hr>
  {% endfor %}
  <hr>
  <form action=" {% url "accounts:delete" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="회원탈퇴">
  </form>
{% endblock content %}
